AddDefaultCharset UTF-8
Options -Indexes

# Security headers (lightweight)
<IfModule mod_headers.c>
Header set X-Content-Type-Options nosniff
Header set X-Frame-Options SAMEORIGIN
Header set Referrer-Policy no-referrer-when-downgrade
</IfModule>
